body {
	background:#FFF;
	}

#page-wrapper {
	width:350px;
	margin:auto;
	}
	
form span {
	float:left;
	height:30px;
	width: 50%;
	}

form input {
	float:right;
	height:30px;
	width: 50%;
	}
	
#submit {
	width: 100%;
	}
