#home-wrap {
	width:1200px;
	height:938px;
	border:solid 2px #005;
	padding:10px;
	margin:auto;
	background: #9090A0;
}

#title-box {
	width:500px;
	padding:10px;
	float:left;
}

#logo-box {
	padding:0px;
	float:right;
}

#heading-filler {
	float:left;
	width:509px;
	height:61px;
}

#title-text {
	display: inline;
	margin-bottom: 0px;
	margin-top: 0px;	
}

#logo-logo {
	display: inline;
	text-align: right;
	border: solid 1px #999;
	width:55px;
	height: 55px;
}

#greeting-box {
	float:left;
	width:500px;
	padding:10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#signout-box {
	float:right;
	padding:10px;
	margin-top: 10px;
	margin-bottom: 10px;
	background:#8080C0;
}

#signout-link {
	text-decoration: none;
	color:#005;
}

#timetable-box {
	float:left;
	padding:10px;
	width:750px;
	height: 450px;
}

#timetable-iframe {
	border:none;
	width:745px;
	height: 418px;
	background: #FFF;
	scrolling:yes;
}

#timetable-title {
	margin-top: 0px;
	margin-bottom: 10px;
}

#events-box {
	float:right;
	padding:10px;
	width:392px;
	height: 450px;
}

#events-iframe {
	border:none;
	width:387px;
	height: 418px;
	background: #FFF
}

#events-title {
	margin-top: 0px;
	margin-bottom: 10px;
}

#settings-box {
	float:left;
	width:1177px;
	padding:10px;
	margin-top:10px;
	padding-bottom:15px;
	}

.settings-icon {
	width:150px;
	height:185px;
	padding:15px;
	margin-left:20px;
	background:#AAF;
	}
