#welcome-wrap {
	margin:auto;
	margin-top: 100px;
	width:1000px;
}

#title-box {
	width:750px;
	padding:30px;
	font-size: 30px
}

#description-box {
	width:600px;
	padding:10px;
}

#signin-box {
	width: 80px;
	padding:10px;
	background:#8080C0;
}

#signin-link {
	text-decoration: none;
	color:#005;
}