<html>

<head>
	<link rel="stylesheet" href="/resource/css/all.css">
	<link rel="stylesheet" href="/resource/css/eventedit.css">
</head>

<body><div id="page-wrapper">
	<h2>Edit event:</h2>
	<form action="/editevent" method=post>
		<span>Sharing Key (Don't edit): </span><input name="sharekey" type=text readonly value={{eventkey}}>
		<span>Name of the event:</span> <input type=text name="name" required value="{{eventname}}">
		<span>Type of event:</span> <input type=text name="type" value="{{eventtype}}" placeholder="What kind of event is this?">
		<span>Date of the event:</span> <input type=date name="datewhen" required min="{{eventwhendate}}" value="{{eventwhendate}}">
		<span>Date of the event:</span> <input type=time name="timewhen" required min="00:00:00" max="23:59:59" value="09:30:00">
		<span>Event description:</span> <textarea name="description" cols=42 rows=6>{{eventdescription}}</textarea>
		<input id=submit type=submit value="Save event details">
	</form>
</div></body>

</html>
