<html>

<head>
	<title>Student Planner Online</title>
	<link rel="stylesheet" href="/resource/css/home.css">
	<link rel="stylesheet" href="/resource/css/all.css">
</head>

<body><div id="home-wrap">

	<div class="normalbox" id="title-box"><h1 id="title-text">Student planner online</h1></div>
	<div id="heading-filler"></div>
	<div class="normalbox" id="logo-box"><img id="logo-logo" src="/resource/img/logo37x37.jpg"></div>

	<p class="normalbox" id="greeting-box">Welcome, {{user_nickname}}</p> 
	<p class="normalbox" id="signout-box"><a  id="signout-link" href="{{auth_url}}">Logout</a></p>

	<div class="normalbox" id="timetable-box">
		<h3 id="timetable-title">Timetable:</h3>
		<iframe id="timetable-iframe" src="/timetable">Your browser does not support iframes, so it is inferior to others! I reccomend Google Chrome or Mozilla Firefox. Or maybe even IE. Sriously, IE is better than your frameless browser!</iframe>
	</div>
	<div class="normalbox" id="events-box">
		<h3 id="events-title">Upcoming events:</h3>
		<iframe id="events-iframe" src="/events">Your browser does not support iframes, so it is inferior to others! I reccomend Google Chrome or Mozilla Firefox. Or maybe even IE. Sriously, IE is better than your frameless browser!</iframe>
	</div>
	<div class="normalbox" id="settings-box">
		<h2 id="settings-title" >Settings</h2><br>
		<a href="/edittimetable"><div class="settings-icon"><img src="/resource/img/gear-icon.png" width=150px height=150px ><br><h3><center>Edit Timetable</center></h3></div></a>
	</div>

</div></body>

</html>
