<html>

<head>
	<title>Student Planner Online</title>
	<link rel="stylesheet" href="/resource/css/home-mobile.css">
	<link rel="stylesheet" href="/resource/css/all.css">
</head>

<body><div id="home-wrap">

	<div class="normalbox" id="title-box"><h1 id="title-text">Student planner online</h1></div>

	<p class="normalbox" id="greeting-box">Welcome, {{user_nickname}}<br><a  id="signout-link" href="{{auth_url}}">Logout</a></p>

	<div class="normalbox" id="timetable-box">
		<h3 id="timetable-title">Timetable - Week A</h3>
		<iframe id="timetable-iframe" src="/timetable?frame">Your browser does not support iframes, so it is inferior to others!</iframe>
	</div>
	<div class="normalbox" id="events-box">
		<h3 id="events-title">Upcoming events:</h3>
		<iframe id="events-iframe" src="/events?frame">Your browser does not support iframes, so it is inferior to others!</iframe>
	</div>

</div></body>

</html>