<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="resource/css/multiplat.css">
	<link rel="stylesheet" href="resource/css/homepage-custom.css">
	<title>Home - Student Planner Online</title>
</head>

<body>
<header class="title-area">
	<h1>Student Planner Online</h1>
	<h2>Main menu</h2>
</header>
	
<div id="content-area">
	<div class="content-full" id="menu-title">
		<center>
		Welcome, {{user_nickname}}<br><a id=signout_link href={{auth_url}}>Sign out</a>
		</center>
	</div>
	
	<a href="timetable"><div class="content-full" id="timetable-button">
		<h3>Timetable</h3>
	</div></a>
	<a href="event"><div class="content-full" id="event-button">
		<h3>Events</h3>
	</div></a>
	<a href="settings"><div class="content-full" id="settings-button">
		<h3>Settings</h3>
	</div></a>
	
	<div class="appicons">
		<a href="timetable"><img src="resource/img/timetable-icon.png" class="appicon-img"></a>
		<a href="event"><img src="resource/img/events-icon.png" class="appicon-img"></a>
		<a href="settings"><img src="resource/img/settings-icon.png" class="appicon-img"></a>
	</div>
	
</div>

<div class="footer-spacer"></div>

<footer class="ending-area">
	<p style="display:inline;">&copy Daniel Selmes 2014 
		<a href="https://github.com/Mikumiku747/Student-Planner-Online-GAE" style="color:#FFF;">Developers</a></p>
</footer>

</body></html>
