<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="resource/css/multiplat.css">
	<title>Settings - Student Planner Online</title>
</head>

<body>
<header class="title-area">
	<h1>Settings</h1>
	<h2>Configure the app and change your information</h2>
</header>
	
<div id="content-area">
	<div class=content-full>
		<h3>Settings</h3>
		<p><a href="edittimetable">Edit my timetable</a><br>
		<a href="deleteinfo">Clear all my information (Delete account)</a></p>
		<p><a href="/">Back to the main menu</a></p>
	</div>
</div>

<div class="footer-spacer"></div>

<footer class="ending-area">
	&copy Daniel Selmes 2014 <a href="/" style="color:#FFF">Home</a>
</footer>

</body></html>
