<html>

<head>
	<title>Student Planner Online</title>
	<link rel="stylesheet" href="/resource/css/home.css">
	<link rel="stylesheet" href="/resource/css/all.css">
</head>

<body><div id="home-wrap">

	<div class="normalbox" id="title-box"><h1 id="title-text">Student planner online</h1></div>
	<div id="heading-filler"></div>
	<div class="normalbox" id="logo-box"><img id="logo-logo" src="/resource/img/logo37x37.jpg"></div>

	<h3 class="normalbox" id="pagename-box">Page Name</h3> 
	<p class="normalbox" id="signout-box"><a  id="signout-link" href="{{auth_url}}">Logout</a></p>

</div></body>

</html>