<html>

<head>
	<title>Timetable</title>
	<link rel="stylesheet" href="/resource/css/all.css">
	<link rel="stylesheet" href="/resource/css/timetable.css">
</head>

<body><div id="timetable-wrap">
	<table id="timetable">
		<tr>
			<td><strong><span class="week-mark">Week A</span></strong></td>
			<td><strong>Monday</strong></td>
			<td><strong>Tuesday</strong></td>
			<td><strong>Wednesday</strong></td>
			<td><strong>Thursday</strong></td>
			<td><strong>Friday</strong></td>
		</tr>
		<tr>
			<td>Period 1</td>
			<td><table class="minitable"><tr><td><center>Subject</center></td></tr><tr><td><center>Teacher</center></td></tr><tr><td><center>Location</center></td></tr></table></td>
			<td><table class="minitable"><tr><td><center>Subject</center></td></tr><tr><td><center>Teacher</center></td></tr><tr><td><center>Location</center></td></tr></table></td>
			<td><table class="minitable"><tr><td><center>Subject</center></td></tr><tr><td><center>Teacher</center></td></tr><tr><td><center>Location</center></td></tr></table></td>
			<td><table class="minitable"><tr><td><center>Subject</center></td></tr><tr><td><center>Teacher</center></td></tr><tr><td><center>Location</center></td></tr></table></td>
			<td><table class="minitable"><tr><td><center>Subject</center></td></tr><tr><td><center>Teacher</center></td></tr><tr><td><center>Location</center></td></tr></table></td>
		</tr>
		<tr>
			<td>Period 2</td>
			<td><table class="minitable"><tr><td><center>Subject</center></td></tr><tr><td><center>Teacher</center></td></tr><tr><td><center>Location</center></td></tr></table></td>
			<td><table class="minitable"><tr><td><center>Subject</center></td></tr><tr><td><center>Teacher</center></td></tr><tr><td><center>Location</center></td></tr></table></td>
			<td><table class="minitable"><tr><td><center>Subject</center></td></tr><tr><td><center>Teacher</center></td></tr><tr><td><center>Location</center></td></tr></table></td>
			<td><table class="minitable"><tr><td><center>Subject</center></td></tr><tr><td><center>Teacher</center></td></tr><tr><td><center>Location</center></td></tr></table></td>
			<td><table class="minitable"><tr><td><center>Subject</center></td></tr><tr><td><center>Teacher</center></td></tr><tr><td><center>Location</center></td></tr></table></td>
		</tr>
		<tr>
			<td>Period 3</td>
			<td><table class="minitable"><tr><td><center>Subject</center></td></tr><tr><td><center>Teacher</center></td></tr><tr><td><center>Location</center></td></tr></table></td>
			<td><table class="minitable"><tr><td><center>Subject</center></td></tr><tr><td><center>Teacher</center></td></tr><tr><td><center>Location</center></td></tr></table></td>
			<td><table class="minitable"><tr><td><center>Subject</center></td></tr><tr><td><center>Teacher</center></td></tr><tr><td><center>Location</center></td></tr></table></td>
			<td><table class="minitable"><tr><td><center>Subject</center></td></tr><tr><td><center>Teacher</center></td></tr><tr><td><center>Location</center></td></tr></table></td>
			<td><table class="minitable"><tr><td><center>Subject</center></td></tr><tr><td><center>Teacher</center></td></tr><tr><td><center>Location</center></td></tr></table></td>
		</tr>
		<tr>
			<td>Period 4</td>
			<td><table class="minitable"><tr><td><center>Subject</center></td></tr><tr><td><center>Teacher</center></td></tr><tr><td><center>Location</center></td></tr></table></td>
			<td><table class="minitable"><tr><td><center>Subject</center></td></tr><tr><td><center>Teacher</center></td></tr><tr><td><center>Location</center></td></tr></table></td>
			<td><table class="minitable"><tr><td><center>Subject</center></td></tr><tr><td><center>Teacher</center></td></tr><tr><td><center>Location</center></td></tr></table></td>
			<td><table class="minitable"><tr><td><center>Subject</center></td></tr><tr><td><center>Teacher</center></td></tr><tr><td><center>Location</center></td></tr></table></td>
			<td><table class="minitable"><tr><td><center>Subject</center></td></tr><tr><td><center>Teacher</center></td></tr><tr><td><center>Location</center></td></tr></table></td>
		</tr>
		
		
	</table>
</div></body>

</html>
