<html>

<head>
	<title>Student Planner Online</title>
	<link rel="stylesheet" href="/resource/css/normal.css">
	<link rel="stylesheet" href="/resource/css/welcome.css"
</head>

<body id="welcome_page_body">
<h1 class="page_title" id="welcome_title">Welcome to student planner online!</h1>
<p id="site_description">This is a place where you can look at your time table, upcoming exams and events, and track your study time. To get started, sign in with your google account.</p>
<h2 id="sign_in_button"><center><a id="sign_in_link" href="{{auth_url}}">Sign in</a></center></h2>
</body>

</html>