<html>

<head>
	<title>Student Planner Online</title>
	<link rel="stylesheet" href="/resource/css/all.css">
	<link rel="stylesheet" href="/resource/css/welcome.css"
</head>

<body><div id="welcome-wrap">
	<center><h1 id="title-box" class="normalbox">Welcome to student planner online!</h1>
	<p id="description-box" class="normalbox">This is a place where you can look at your time table, upcoming exams and events, and track your study time. To get started, sign in with your Google account.</p>
	<h2 class="normalbox" id="signin-box"><a id="signin-link" href="{{auth_url}}">Sign in</a></h2></center>
</div></body>

</html>