#welcome_title {
	padding:25px;
	font-size: 50px
}

#welcome_page_body {
	margin-top:300px;
}

#site_description {
	border: solid 2px #000;
	padding: 5px;
	width: 600px;
	margin:auto;
	text-align: center;
	background:#CCC;
}

#sign_in_button{
	margin:auto;
	margin-top: 20px;
	border: 1px solid #000;
	padding:15px;
	background:#CCC;
	width:150px;
}

#sign_in_link {
	text-decoration: None;
	text-align: center;
	color:#007;
}